# Application
APP_NAME=TrackFlow
APP_VERSION=0.1.0
DEBUG=false

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=trackflow

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@localhost:5672/

# Business rules
SPEED_LIMIT=80.0

# API
API_V1_PREFIX=/api/v1
